.profile-image {
    max-width: 100%;
    height: auto;
}
@keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}
.animate-zoom {
    animation: zoomIn 1s;
}
.image-container {
    transition: transform 0.3s;
}

/* Cambia la regla de animación para el efecto de zoom */
.image-container:hover {
    transform: scale(1.1);
}

/* Ajusta el tamaño de las imágenes */
.tech-image {
    width: 100px;
    height: 100px;
}